@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a) ao Shopping!</h1><br>
    <p>Usuário(a), verifique nossa lista de lojas e quiosques clicando na aba <b>Usuário</b>!<br>
       Administrador(a), controle as lojas e os quiosques na aba <b>Adm</b>! E cadastre novos(as) na aba <b>Cadastrar</b>!</p>
</div>
